//@mixin bg-image($url) {
//  background-image: url($url+ "@2x.png");
//  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
//    background-image: url($url+ "@3x.png");
//  }
//}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


