@import "~styles/mixins.scss";

.AreaBanner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;

  .city-wrapper {
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px;

    .head {
      width: 100%;
      text-align: center;
      font-size: 24px;
      color: $color-black-1;
      padding-bottom: 10px;
    }

    .city-list {
      img {
        width: 80%;
        height: auto;
      }
    }
    .img-wrapper {
      width: 170px;
      height: 0;
      padding-bottom: 82px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

  }
}
